{% extends "base.html" %} {% load static %} {% block title %} Альфа | Дзержинск - Разработка и поставка деталей машиностроения {% endblock %} {% block content %}
<style>
    .error-wrapper {
        text-align: center;
    }
</style>
<div class="error-wrapper">
    <p style="font-size: 48px">Страница не найдена</p>
    <p style="font-size: 130px">404</p>
    <p style="font-size: 30px">Запрашиваемая страница не найдена</p>
    <p style="font-size: 30px">Вы можете вернуться на главную или воспользоваться меню</p>
</div>
{% endblock %}