{% extends "base.html" %}
{% load static %}

{% block title %}
О компании - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description"
    content="Альфа- российский разработчик и поставщик компонентов для средне и высокофорсированных двигателей отечественного и импортного производства, а также деталей общего машиностроения." />
{% endblock %}

{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Главная</a> / О компании
    </div>
</div>
<div class="container">

    <h1>О компании</h1><span class="line"></span>
    <div class="row-wrap about_wrap">
        <div class="about-info">
            Альфа- российский разработчик и поставщик компонентов для средне и высокофорсированных двигателей
            отечественного и импортного производства, а также деталей общего машиностроения.<br><br>
            <h5><bold>Вид деятельности</bold></h5>
            Альфа разрабатывает и поставляет такие компоненты как:
            <ul>
                <li>Компоненты уплотнения на основе полимеров / Кольца, манжеты , кассетные уплотнения , резинометаллические
                    детали /</li>
                <li>Валы</li>
                <li>Шестерни</li>
                <li>Детали насосов</li>
                <li>Технологии производства прецизионных деталей для систем питания дизельных двигателей</li>
                <li>Подшипники скольжения</li>
            </ul><br>
            <h5><bold>Качество</bold></h5>
            Качество выпускаемой продукции ориентированно для поставки на экспорт. Более 75% продукции поставляется на
            экспорт в 7 стран мира. Качество изготавливаемой продукции обусловлено контролем от заготовительного этапа
            производства до упаковки готовой продукции
            Продвижение применение современных материалов, методов, технологий обработки и производства, такова задача
            нашей компании.<br><br>
            <h5><bold>​История</bold></h5>
            Мы начали работу с освоения
            <ul>
                <li>Вкладышей шатунных;</li>
                <li>Разработка новой технологии производства топливной аппаратуры традиционного типа для дизельных двигателя
                    отечественного производства;</li>
                <li>Маслосъемных колпачков;</li>
                <li>Уплотнительных колец;</li>
                <li>Уплотнений торцевых водяных насосов (помп);</li>
                <li>Производство прокладок любых форм из безасбестового паронита и армированные прокладки.</li>
            </ul>
            <br>
            <h5><bold>Идеология</bold></h5> ​
            Качество и отношение к клиенту на первом месте, не цена.<br>
            Решаем проблемы клиентов по поставке компонентов и оборудования.<br>
            Предоставление понятных и четких гарантий при работе с компанией.<br><br>
            Несколько слов в завершении, мы не выходим на рынок с продукцией нашего партнера или без его согласия.<br><br>
            Если вы дочитали до этого абзаца, то с большой долей вероятности, вам интересна данная тема, тогда вы нам
            интересны как партнеры.<br>
        </div>
        <div class="about-logo">
            <img src="{% static 'img/about_logo.png' %}" alt="" width="100%">
        </div>
    </div>


</div>

{% endblock content %}

{% block scripts %}
<script>

</script>


{% endblock scripts %}