{% extends "base.html" %}
{% load static %}

{% block title %}
Вкладыши для промышленных двигателей - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description" content="Компания Альфа занимается разработкой, производством и продажей подшипников скольжения (вкладышей). Вкладыши для промышленных двигателей ЧН18/22 производства ДАЛЬДИЗЕЛЬ
    6 ЧН21/21 производства ВОЛЖСКИЙ ДИЗЕЛЬ имени МАМИНЫХ,
    ДД208, ДГР1А100/750, ДГР1А160/750, СА-20, СА-30, 222Д, 210Д, 211Д3М, 270Д, 281Д." />
{% endblock %}

{% block links %}

{% endblock links %}

{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Главная</a> / <a href="/product">Продукция</a> / Подшипники скольжения
    </div>
</div>
<div class="container">

    <div class="bearing-wrap">
        <div class="bearing-wrap-info">
            <h1>Подшипники скольжения</h1><span class="line"></span>
            <div class="bearing_img__aftertext">
                <img src="{% static 'img/bearer.png' %}" alt="" class="bearing_img__aftertext__img">
            </div>
            <div class="bearing-wrap-text">
                Компания АльфА занимается разработкой, производством и продажей подшипников скольжения (вкладышей).
                Подшипники скольжения служат опорой вращающихся деталей, таких как коленчатый вал, распределительный
                вал,
                узлы сочленения шатунов, валы коромысел, балансировочные валы.
                Вкладыши коленчатого вала представляют собой разборный подшипник скольжения, состоящий из двух
                половинок.
                Подробнее о подшипниках скольжения вы сможете прочитать в нашей статье.<br><br>
                <a href="/bearingcat/">Технический каталог (Подшипники скольжения)</a>
            </div>
        </div>
        <div class="bearing-wrap-img">
            <img src="{% static 'img/bearer.png' %}" alt="" width="550px">
        </div>
    </div>
    <div class="spoiler-btn" id="show_spoiler">
        <h2>Примеры освоенной продукции</h2>
        <i class="fas fa-chevron-down" id="spoiler_ico"></i>
    </div>

    <div class="spoiler-info">
        <table class="bearing-table">
            <tbody>
                <tr class="bearing-table-header">
                    <td>Наименование изделия</td>
                    <td>Маркировка</td>
                    <td>D, мм</td>
                    <td>d постели, мм</td>
                    <td>Толщина, мм</td>
                    <td>Ширина, мм</td>
                    <td>Применение</td>
                </tr>
                <tr>
                    <td>Вкладыш</td>
                    <td><a href="/goodscat/8">0221-13-017/018</a></td>
                    <td>134,88<sub>-0,018</sub></td>
                    <td>143<sup>+0,025</sup></td>
                    <td>4,015<sub>-0,02</sub></td>
                    <td>69<sub>-0,3</sub></td>
                    <td>6 ЧН21/21</td>
                </tr>
                <tr>
                    <td>Вкладыш (в перспективе)</td>
                    <td>107-1203/08</td>
                    <td>134,88<sub>-0,025</sub></td>
                    <td>145<sup>+0,025</sup></td>
                    <td>4,95<sub>-0,02</sub></td>
                    <td>76 <sub>-0,2</sub></td>
                    <td>6ЧНСП18/22</td>
                </tr>
                <tr>
                    <td>Вкладыш (в перспективе)</td>
                    <td>0210-04-100/110</td>
                    <td>149,86<sub>-0,025</sub></td>
                    <td>161<sup>+0,025</sup></td>
                    <td>5,516<sub>-0,022</sub></td>
                    <td>58<sub>-0,4</sub></td>
                    <td>6 ЧН21/21</td>
                </tr>
                <tr>
                    <td>Вкладыш (в перспективе)</td>
                    <td>0217-00-007/008</td>
                    <td>149,86<sub>-0,025</sub></td>
                    <td>160<sup>+0,025</sup></td>
                    <td>5,016<sub>-0,022</sub></td>
                    <td>58<sub>-0,4</sub></td>
                    <td>6 ЧН21/21</td>
                </tr>
                <tr>
                    <td>Вкладыш (в перспективе)</td>
                    <td>0217-13-040/050</td>
                    <td>134,88<sub> -0,018</sub></td>
                    <td>143 <sup>+0,025</sup></td>
                    <td>4,015<sub>-0,02</sub></td>
                    <td>94<sub>-0,4</sub></td>
                    <td>6 ЧН21/21</td>
                </tr>
                <tr>
                    <td>Втулка головки шатуна (в перспективе)</td>
                    <td>0210-13-009-2</td>
                    <td>80,077<sub>+0,107</sub></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>6 ЧН21/21</td>
                </tr>
                <tr>
                    <td>Втулка головки шатуна (в перспективе)</td>
                    <td>Б0390-11-520</td>
                    <td>80,077<sub>+0,120</sub></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>6 ЧН21/21</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>Применяется в<br>
            <bold>ЧН18/22</bold> производства <bold>"ДАЛЬДИЗЕЛЬ"</bold> <br>
            <bold>6 ЧН21/21</bold> производства <bold>"ВОЛЖСКИЙ ДИЗЕЛЬ имени МАМИНЫХ"</bold><br>
            ДД208, ДГР1А100/750, ДГР1А160/750, СА-20, СА-30, 222Д, 210Д, 211Д3М, 270Д, 281Д.<br><br><br>

            Данные многоцелевые двигателя применяются в качестве силовых установок судов, локомотивов,
            дизель-генераторов,
            привода буровых агрегатов, гусеничной технике и военной технике.
            <br><br>
            Применение
            <a href="#">Руководства по эксплуатации и каталоги деталей дизельных двигателей</a>
        </p>
    </div>

</div>

{% endblock content %}

{% block scripts %}
<script>

</script>


{% endblock scripts %}