{% extends "base.html" %}
{% load static %}

{% block title %}
Контакты - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description"
    content="Вы можете связаться с нами следующим образом: 606016, Нижегородская область, г. Дзержинск, проспект Ленина 107Б к.9, офис 5 +7(831)23-52-678 comalfa@yandex.ru" />
{% endblock %}

{% block links %}

{% endblock links %}

{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Главная</a> / Контакты
    </div>
</div>
<div class="container">



    <div class="contact-wrap">
        <div class="contact-info">
            <h1>Свяжитесь с нами</h1>
            606016, Нижегородская область, г.&nbsp;Дзержинск,<br>пр-кт&nbsp;Ленина&nbsp;107Б к.9, офис&nbsp;5<br><a
                href="mailto:comalfa@yandex.ru">comalfa@yandex.ru</a> <br>+7(831)23-52-678
        </div>
        <div class="contact-map">
            <div class="map__frame">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2217.1154627764327!2d43.48951454365237!3d56.24151649303315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414e3aa4ba5ad92b%3A0x686ebe91b86cc2e!2z0L_RgC4g0JvQtdC90LjQvdCwLCAxMDfQkSwg0JTQt9C10YDQttC40L3RgdC6LCDQndC40LbQtdCz0L7RgNC-0LTRgdC60LDRjyDQvtCx0LsuLCA2MDYwMTY!5e0!3m2!1sru!2sru!4v1593622327502!5m2!1sru!2sru"
                    width="100%" class="contact_map__mob" height="300px" frameborder="0" style="border:0;"
                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>

</script>


{% endblock scripts %}