{% extends "base.html" %}
{% load static %}

{% block title %}
Компоненты впрыска топлива - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description"
    content="Разработка, изготовление и продажа топливной аппаратуры для судовых и промышленных дизелей. Применяется в
    ЧН15/15 , ЧН15/18 производства БАРНАУЛТРАНСМАШ
    УТД-20, 1Д20 , 3Д20, Д6, 5Д20
    ЧН 31.8/33 производства ПЕНЗАДИЗЕЛЬМАШ
    1-ПД4А, 5Д50" />
{% endblock %}

{% block links %}

{% endblock links %}

{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Главная</a> / <a href="/product">Продукция</a> / Компоненты впрыска топлива
    </div>
</div>
<div class="container">

    <div class="bearing-wrap">
        <div class="bearing-wrap-info">
            <h1>Компоненты впрыска топлива</h1><span class="line"></span>
            <div class="bearing_img__aftertext">
                <img src="{% static 'img/fuel_img.png' %}" alt="" class="bearing_img__aftertext__img">
            </div>
            <div class="bearing-wrap-text">
                Компания АльфА занимается разработкой, производством и продажей прецизионных деталей топливной
                аппаратуры дизельных двигателей.


                <br>
                Одним из важнейших составных элементов ТНВД традиционного типа выступает плунжерная пара, в результате
                работы которой обеспечивается подача, точная дозировка топлива и его последующее распределение по
                цилиндрам дизельного топливного агрегата.

                <br>
                Подробнее о топливной аппаратуре:

                <br><br>
                <a href="/fuelcat/">Технический каталог (Топливная аппаратура)</a>
            </div>
        </div>
        <div class="bearing-wrap-img">
            <img src="{% static 'img/fuel_img.png' %}" alt="" height="100%">
        </div>
    </div>
    <div class="spoiler-btn" id="show_spoiler">
        <h2>Примеры освоенной продукции</h2>
        <i class="fas fa-chevron-down" id="spoiler_ico"></i>
    </div>
    <div class="spoiler-info">
        <table class="bearing-table">
            <tbody>
                <tr class="bearing-table-header">
                    <td>Наименование изделия</td>
                    <td>Маркировка</td>
                    <td>Аналог</td>
                    <td>D уплотнения, мм</td>
                    <td>D наружный, мм</td>
                    <td>Высота, мм</td>
                    <td>Применение</td>
                    <td>Примечание</td>
                </tr>
                <tr>
                    <td>Насосный элемент (Подготовка)</td>
                    <td>А50-27-104сд</td>
                    <td>Д50.27.104сб</td>
                    <td>20</td>
                    <td>34</td>
                    <td>20,6</td>
                    <td>194</td>
                    <td>ЧН31.8/33; 1-ПД4А; 5Д50</td>
                </tr>
                <tr>
                    <td>Клапан нагнетательный
                        (Подготовка)</td>
                    <td><a href="/goodscat/14">А50-27-102сд</a></td>
                    <td>Д50.27.102сб-2</td>
                    <td>14</td>
                    <td>М36х2</td>
                    <td> </td>
                    <td>26</td>
                    <td>ЧН31.8/33; 1-ПД4А; 5Д50</td>
                </tr>
                <tr>
                    <td>Плунжерная пара (Подготовка)</td>
                    <td>А327-07-1сд</td>
                    <td>327-07-1</td>
                    <td>10</td>
                    <td>24</td>
                    <td>10</td>
                    <td>78</td>
                    <td>ЧН15/15; ЧН15/18, УТД-20</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>Применяется в<br>
            <bold> ЧН15/15 , ЧН15/18</bold> производства <bold>"БАРНАУЛТРАНСМАШ"</bold>
            <br>
            УТД-20, 1Д20 , 3Д20, Д6, 5Д20
            <br>
            <bold>ЧН 31.8/33</bold> производства <bold>"ПЕНЗАДИЗЕЛЬМАШ"</bold>
            <br>
            1-ПД4А, 5Д50
            <br>
            Данные многоцелевые двигателя применяются в качестве силовых установок судов, локомотивов,
            дизель-генераторов,
            привода буровых агрегатов, гусеничной технике и военной технике.
            <br><br>
            Применение
            <a href="#">Руководства по эксплуатации и каталоги деталей дизельных двигателей</a>
        </p>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>

</script>


{% endblock scripts %}