{% extends "base.html" %}
{% load static %}

{% block title %}
Прокладки - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description" content="Разработка, производства и продажа прокладок для судовых и промышленных дизелей. Применяются в компрессорах производства ПТМЗ
    Компрессорах производства ТРАНСПНЕВМАТИКА
    ВУ3,5/10 , ПК-35М , ЭК-4 , ЭК-7 Камаз-740 производства КАМАЗ
    Двигателя производства CUMMINS" />
{% endblock %}

{% block links %}

{% endblock links %}

{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Главная</a> / <a href="/product">Продукция</a> / Прокладки
    </div>
</div>
<div class="container">

    <div class="bearing-wrap">
        <div class="bearing-wrap-info">
            <h1>Прокладки
            </h1><span class="line"></span>
            <div class="bearing_img__aftertext">
                <img src="{% static 'img/gasket.png' %}" alt="" class="bearing_img__aftertext__img">
            </div>
            <div class="bearing-wrap-text">
                Компания АльфА занимается разработкой, производством и продажей различных видов прокладок из
                безасбестового материала.
                <br>
                Прокладки служат для уплотнения различных трубопроводов и механизмов в разных отраслях промышленности.
                <br>
                Подробнее о безасбестовых прокладках:

                <br><br>
                <a href="#">Прокладки безасбестовые (*в разработке)</a>
            </div>
        </div>
        <div class="bearing-wrap-img">
            <img src="{% static 'img/gasket.png' %}" alt="" height="100%">
        </div>
    </div>
    <div class="spoiler-btn" id="show_spoiler">
        <h2>Примеры освоенной продукции</h2>
        <i class="fas fa-chevron-down" id="spoiler_ico"></i>
    </div>
    <div class="spoiler-info">
        <table class="bearing-table">
            <tbody>
                <tr class="bearing-table-header">
                    <td>Наименование изделия</td>
                    <td>Маркировка</td>
                    <td>Аналог</td>
                    <td>Применение</td>
                    <td>Материал</td>
                </tr>
                <tr>
                    <td>Комплект уплотений</td>
                    <td><a href="/goodscat/19">210Д-КП</a></td>
                    <td>н/д</td>
                    <td>6ЧН 21/21</td>
                    <td>Паронит безасбестовый,материал армированная из графитового материала</td>
                </tr>
                <tr>
                    <td>Комплект уплотений</td>
                    <td><a href="/goodscat/15">6ТК-КП</a></td>
                    <td>н/д</td>
                    <td>ЧН 26/26, 6ТК</td>
                    <td>Паронит безасбестовый,материал армированная из графитового материала</td>
                </tr>
                <tr>
                    <td>Комплект уплотений</td>
                    <td><a href="/goodscat/16">ТК18-КП</a></td>
                    <td>н/д</td>
                    <td>6ЧН 21/21, 6ЧН25/34</td>
                    <td>Паронит безасбестовый,материал армированная из графитового материала</td>
                </tr>
                <tr>
                    <td>Прокладка</td>
                    <td><a href="/goodscat/18">2-5Д49-175-02</a></td>
                    <td>2-5Д49.175.02</td>
                    <td>ЧН 26/26</td>
                    <td>Паронит безасбестовый</td>
                </tr>
                <tr>
                    <td>Комплект уплотений</td>
                    <td><a href="/goodscat/17"></a>ВУ3,5/10</td>
                    <td>н/д</td>
                    <td>ВУ3,5</td>
                    <td>Паронит безасбестовый</td>
                </tr>
                <tr>
                    <td>Комплект уплотений</td>
                    <td><a href="/goodscat/23">ЭК-4</a></td>
                    <td>н/д</td>
                    <td>ЭК-4</td>
                    <td>Паронит безасбестовый</td>
                </tr>
                <tr>
                    <td>Прокладка</td>
                    <td><a href="/goodscat/21">2Д100-69-041</a></td>
                    <td>2Д100.69.041</td>
                    <td>ЧН31.8/33; 1-ПД4А; 5Д50</td>
                    <td>Паронит безасбестовый</td>
                </tr>
                <tr>
                    <td>Комплект уплотений</td>
                    <td><a href="/goodscat/20">0210-05-046</a></td>
                    <td>0210.05.046</td>
                    <td>6ЧН 21/21</td>
                    <td>Паронит безасбестовый</td>
                </tr>
                <tr>
                    <td>Прокладка</td>
                    <td>1-ПД4.070.008</td>
                    <td>н/д</td>
                    <td>ЧН31.8/33; 1-ПД4Д</td>
                    <td>Материал армированная из графитового материала</td>
                </tr>
                <tr>
                    <td>Прокладка</td>
                    <td>0217-85-201</td>
                    <td>0217.85.201</td>
                    <td>6ЧН 21/21</td>
                    <td>Материал армированная из графитового материала</td>
                </tr>
                <tr>
                    <td>Прокладка</td>
                    <td>0210-05-150</td>
                    <td>0210.05.150</td>
                    <td>6ЧН 21/21</td>
                    <td>Материал армированная из графитового материала</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>Применяется в<br>
            <bold>6 ЧН21/21</bold> производства <bold>"ВОЛЖСКИЙ ДИЗЕЛЬ имени МАМИНЫХ"</bold>
            <br>
            ДД208, ДГР1А100/750, ДГР1А160/750, СА-20, СА-30, 222Д, 210Д, 211Д3М, 270Д, 281Д.
            <br>
            <bold>ЧН15/15 , ЧН15/18</bold> производства <bold>"БАРНАУЛТРАНСМАШ"</bold>
            <br>
            УТД-20, 1Д20 , 3Д20, Д6, 5Д20
            <br>
            <bold>ЧН26/26</bold> производства <bold>"КОЛОМЕНСКИЙ ЗАВОД"</bold>
            <br>
            1А-9ДГ, 5-26ДГ, 18-9ДГ, 7-6Д49, АД2000
            <br>
            <bold>Турбокомпрессора</bold> 4ТК , 6ТК, 9ТК производства <bold>"КОЛОМЕНСКИЙ ЗАВОД"</bold>
            <br>
            <bold>Турбокомпрессора</bold> ТК-18 , ТК-23, ТК30, ТК-32 производства <bold>"ПЕНЗАДИЗЕЛЬМАШ"</bold>
            <br>
            <bold>Турбокомпрессора</bold> ТК-41 производства <bold>"СКБТ"</bold>
            <br>
            <bold>Компрессорах </bold> производства <bold>"ПТМЗ"</bold>
            <br>КТ-6, КТ-7.
            <br>
            <bold>Компрессорах </bold> производства <bold>"ТРАНСПНЕВМАТИКА"</bold>
            <br>ВУ3,5/10 , ПК-35М , ЭК-4 , ЭК-7
            <bold>Камаз-740 </bold> производства <bold>"КАМАЗ"</bold>
            <br>Двигателя производства <bold>"CUMMINS"</bold> <br>ISF 2.8 , ISBe (185…285), ISF2.8 , ISF3,8 , 6ВТ
            <br>
            <bold>ЧН 25/34</bold>производства <bold>"ПЕРВОМАЙСКДИЗЕЛЬМАШ"</bold>

            <br><br>
            Данные многоцелевые двигателя применяются в качестве силовых установок судов, локомотивов,
            дизель-генераторов,
            привода буровых агрегатов, гусеничной технике и военной технике.
            <br><br>
            Применение
            <a href="#">Руководства по эксплуатации и каталоги деталей дизельных двигателей</a>
        </p>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>

</script>


{% endblock scripts %}