{% extends "base.html" %}
{% load static %}

{% block title %}
География поставок - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description"
    content="Информация о партнерских отношениях. География поставок . Глобальные возможности и кооперация." />
{% endblock %}

{% block links %}

{% endblock links %}

{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Главная</a> / География
    </div>
</div>
<div class="container">

    <h1>ГЕОГРАФИЯ</h1>

    <iframe src="https://www.google.com/maps/d/embed?mid=1r5-AOHY4z2WXsOPFz9RkF4TWtrJm_SSF" width="100%"
        height="640"></iframe>
</div>





{% endblock content %}

{% block scripts %}



{% endblock scripts %}