{% extends "base.html" %}
{% load static %}

{% block title %}
Торцевые (механические) уплотнения - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description" content="Разработка, производства и продажа механических (торцевых) уплотнений насосов. Применяется в
    ЧН15/15 производства БАРНАУЛТРАНСМАШ
УТД-20, 1Д20 , 3Д20, Д6, 5Д20
ЧН26/26 производства КОЛОМЕНСКИЙ ЗАВОД
1А-9ДГ, 5-26ДГ, 18-9ДГ, 7-6Д49, АД2000" />
{% endblock %}

{% block links %}

{% endblock links %}

{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Главная</a> / <a href="/product">Продукция</a> / Торцевые (механические) уплотнения
    </div>
</div>
<div class="container">

    <div class="bearing-wrap">
        <div class="bearing-wrap-info">
            <h1>Торцевые (механические) уплотнения
            </h1><span class="line"></span>
            <div class="bearing_img__aftertext">
                <img src="{% static 'img/nasos_img.png' %}" alt="" class="bearing_img__aftertext__img">
            </div>
            <div class="bearing-wrap-text">
                Компания АльфА занимается разработкой, производством и продажей механических (торцевых) уплотнений
                насосов.
                <br>
                Одним из важных элементов насоса для перекачки жидкостей выступает уплотнение вала, в результате работы
                которого обеспечивается предотвращение протечки перекачиваемой жидкости из рабочей полости.
                <br>
                Наиболее эффективных уплотнениями для насосов считаются торцевые или механические уплотнения. В основном
                одинарные торцевые уплотнения состоят из пары трения ( подвижное +неподвижное кольцо) , упругого
                элемента и вторичных уплотнителей (рти, фторопласт и т.п.).
                <br>
                Подробнее о торцевых уплотнениях:

                <br><br>
                <a href="/sealspumpcat/">Технический каталог (Торцевые уплотнения)</a>
            </div>
        </div>
        <div class="bearing-wrap-img">
            <img src="{% static 'img/nasos_img.png' %}" alt="" height="100%">
        </div>
    </div>
    <div class="spoiler-btn" id="show_spoiler">
        <h2>Примеры освоенной продукции</h2>
        <i class="fas fa-chevron-down" id="spoiler_ico"></i>
    </div>
    <div class="spoiler-info">
        <table class="bearing-table">
            <tbody>
                <tr class="bearing-table-header">
                    <td>Наименование изделия</td>
                    <td>Маркировка</td>
                    <td>Аналог</td>
                    <td>D уплотнения, мм</td>
                    <td>Применение</td>
                    <td>Примечание</td>
                </tr>
                <tr>
                    <td>Уплотнение торцевое</td>
                    <td><a href="/goodscat/13">Д49-123УТА</a> </td>
                    <td>КТУ Д49.123сб</td>
                    <td>40</td>
                    <td>ЧН26/26</td>
                    <td>Уменьшение стоимости уплотнения</td>
                </tr>
                <tr>
                    <td>Уплотнение торцевое</td>
                    <td>Д40-123УТА</td>
                    <td>КТУ-2Д42-123-1СПЧ</td>
                    <td>35</td>
                    <td>ДН23/30; ЧН30/38</td>
                    <td>Уменьшение стоимости уплотнения</td>
                </tr>
                <tr>
                    <td>Уплотнение торцевое</td>
                    <td>211-44УТА</td>
                    <td>0210.44.027 0217.44.005 </td>
                    <td>30</td>
                    <td>ЧН21/21</td>
                    <td>Повышение надежности</td>
                </tr>
                <tr>
                    <td>Графитовая манжета</td>
                    <td><a href="/goodscat/12">0210.44.027А</a></td>
                    <td>0210.44.027</td>
                    <td>30</td>
                    <td>ЧН21/21</td>
                    <td>Улучшение конструкции</td>
                </tr>
                <tr>
                    <td>Уплотнение торцевое
                        /(Подготовка)/</td>
                    <td>511-00-1УТА</td>
                    <td> </td>
                    <td>20</td>
                    <td>ЧН15/18</td>
                    <td>Повышение надежности</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>Применяется в<br>
            <bold>6 ЧН21/21</bold> производства <bold>"ВОЛЖСКИЙ ДИЗЕЛЬ имени МАМИНЫХ"</bold>
            <br>
            ДД208, ДГР1А100/750, ДГР1А160/750, СА-20, СА-30, 222Д, 210Д, 211Д3М, 270Д, 281Д.
            <br>
            <bold>ЧН15/15</bold> производства <bold>"БАРНАУЛТРАНСМАШ"</bold>
            <br>
            УТД-20, 1Д20 , 3Д20, Д6, 5Д20
            <br>
            <bold>ЧН26/26</bold> производства <bold>"КОЛОМЕНСКИЙ ЗАВОД"</bold>
            <br>
            1А-9ДГ, 5-26ДГ, 18-9ДГ, 7-6Д49, АД2000
            <br>
            <bold>ДН23/30</bold> производства <bold>"КОЛОМЕНСКИЙ ЗАВОД"</bold>
            <br>
            14Д40 , 11Д45
            <br>
            <bold>ЧН30/38</bold> производства <bold>"КОЛОМЕНСКИЙ ЗАВОД"</bold>
            <br>
            Д42 , 25ДГ, 30ДГМ, 40ДММ3
            <br><br>
            Данные многоцелевые двигателя применяются в качестве силовых установок судов, локомотивов,
            дизель-генераторов,
            привода буровых агрегатов, гусеничной технике и военной технике.
            <br><br>
            Применение
            <a href="#">Руководства по эксплуатации, каталоги запасных частей</a>
        </p>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>

</script>


{% endblock scripts %}