{% extends "base.html" %}
{% load static %}

{% block title %}
Уплотнение клапанов и резинотехнические детали - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description" content="Компания Альфа занимается разработкой производством и продажей уплотнений клапанов (маслосъемных колпачков) и других резинотехнических деталей применяемых в
    6 ЧН21/21 производства ВОЛЖСКИЙ ДИЗЕЛЬ имени МАМИНЫХ
    ДД208, ДГР1А100/750, ДГР1А160/750, СА-20, СА-30, 222Д, 210Д, 211Д3М, 270Д, 281Д.
    ЧН15/15 , ЧН15/18 производства БАРНАУЛТРАНСМАШ" />
{% endblock %}

{% block links %}

{% endblock links %}

{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Главная</a> / <a href="/product">Продукция</a> / Уплотнение клапанов
    </div>
</div>
<div class="container">

    <div class="bearing-wrap">
        <div class="bearing-wrap-info">
            <h1>Уплотнение клапанов<br>
                Резинотехнические детали</h1><span class="line"></span>
            <div class="bearing_img__aftertext">
                <img src="{% static 'img/seals.png' %}" alt="" class="bearing_img__aftertext__img">
            </div>
            <div class="bearing-wrap-text">
                Компания АльфА занимается разработкой, производством и продажей уплотнений клапанов (маслосъемных
                колпачков) и других резинотехнических деталей.
                <br>
                Уплотнения клапанов имеют много названий - манжета клапана, сальник клапана, колпачок маслосъемный. Но
                как бы они не назывались, служат они для предотвращения попадания масла в рабочий цилиндр и отработавших
                газов в распределительный механизм.
                <br>
                Для уплотнения клапанов так же применяются уплотнительные кольца круглого и прямоугольного сечения.
                <br>
                Помимо резинотехнических деталей для уплотнения клапанов, разрабатываем и производим формовые и
                неформовые уплотнения из каучуковых и силиконовых смесей.
                <br>
                Подробнее об уплотнениях клапанов:

                <br><br>
                <a href="/sealscat/">Технический каталог (Уплотнение клапанов двигателей)</a>
            </div>
        </div>
        <div class="bearing-wrap-img">
            <img src="{% static 'img/seals.png' %}" alt="" width="400px">
        </div>
    </div>
    <div class="spoiler-btn" id="show_spoiler">
        <h2>Примеры освоенной продукции</h2>
        <i class="fas fa-chevron-down" id="spoiler_ico"></i>
    </div>
    <div class="spoiler-info">
        <table class="bearing-table">
            <tbody>
                <tr class="bearing-table-header">
                    <td>Наименование изделия</td>
                    <td>Маркировка</td>
                    <td>Аналог</td>
                    <td>D уплотнения, мм</td>
                    <td>D наружный, мм</td>
                    <td>Высота, мм</td>
                    <td>Применение</td>
                    <td>Примечание</td>
                </tr>
                <tr>
                    <td>Уплотнение
                        /манжета, колпачок/</td>
                    <td><a href="/goodscat/9">Д49-78-5ука</a></td>
                    <td>5Д49.78.5спч</td>
                    <td>17,8</td>
                    <td>32</td>
                    <td>24</td>
                    <td>ЧН26/26</td>
                    <td>Переработанная смесь, увеличена рабочая температура</td>
                </tr>
                <tr>
                    <td>Уплотнение
                        /манжета, колпачок/</td>
                    <td><a href="/goodscat/11">ПД4-09-030ука</a></td>
                    <td>1ПД4.09.030-1</td>
                    <td>22</td>
                    <td>35</td>
                    <td>31</td>
                    <td>ЧН31.8/33 1-ПД4Д</td>
                    <td>Переработанная смесь, увеличена рабочая температура</td>
                </tr>
                <tr>
                    <td>Кольцо уплотнительное</td>
                    <td>506-100</td>
                    <td></td>
                    <td>17,4</td>
                    <td>22,5</td>
                    <td>н/д</td>
                    <td>ЧН15/18 ЧН15/15</td>
                    <td>Оптимизирована смесь
                    </td>
                </tr>
                <tr>
                    <td>Кольцо уплотнительное</td>
                    <td>303-12А</td>
                    <td></td>
                    <td>145</td>
                    <td>150</td>
                    <td>3,5</td>
                    <td>ЧН15/18 ЧН15/15</td>
                    <td>Оптимизирована смесь</td>
                </tr>
                <tr>
                    <td>Кольцо уплотнительное</td>
                    <td><a href="/goodscat/10">0330-05-094</a></td>
                    <td>А1-2262</td>
                    <td>16</td>
                    <td>21</td>
                    <td>н/д</td>
                    <td>ЧН21/21 ДМ21/21</td>
                    <td>Оптимизирована смесь</td>
                </tr>
                <tr>
                    <td>Кольцо уплотнительное</td>
                    <td>Г66-140716-1</td>
                    <td></td>
                    <td>29,9</td>
                    <td>40</td>
                    <td>н/д</td>
                    <td>6ЧРН36/45</td>
                    <td>Повышение износостойкости и рабочей температуры</td>
                </tr>
                <tr>
                    <td>Кольцо уплотнительное</td>
                    <td>8201-67003-1</td>
                    <td></td>
                    <td>47</td>
                    <td>55</td>
                    <td>н/д</td>
                    <td>6ЧРН36/45</td>
                    <td>Повышение износостойкости и рабочей температуры</td>
                </tr>
                <tr>
                    <td>Кольцо уплотнительное</td>
                    <td><a href="/goodscat/25">0360-11-046-1А</a></td>
                    <td>0360-11-046-1</td>
                    <td>179</td>
                    <td>186</td>
                    <td>н/д</td>
                    <td>ЧН21/21 ДМ21/21</td>
                    <td>Оптимизирована смесь</td>
                </tr>
                <tr>
                    <td>Кольцо уплотнительное</td>
                    <td>482-22509</td>
                    <td></td>
                    <td>37</td>
                    <td>45</td>
                    <td>н/д</td>
                    <td>NVD-48</td>
                    <td>Повышение износостойкости и рабочей температуры</td>
                </tr>
                <tr>
                    <td>Кольцо уплотнительное</td>
                    <td>303-11А</td>
                    <td></td>
                    <td>145</td>
                    <td>150</td>
                    <td>7</td>
                    <td>ЧН15/18 ЧН15/15</td>
                    <td>Оптимизирована смесь</td>
                </tr>
                <tr>
                    <td>Кольцо уплотнительное</td>
                    <td>Г60-130038А</td>
                    <td>Г60-130038</td>
                    <td>385</td>
                    <td>397</td>
                    <td>н/д</td>
                    <td>6ЧРН36/45</td>
                    <td>Оптимизирована смесь</td>
                </tr>
                <tr>
                    <td>Манжета/сальник</td>
                    <td>90-125-12А</td>
                    <td>1КТУ</td>
                    <td>90</td>
                    <td>125</td>
                    <td>12</td>
                    <td>компрессор КТ-6</td>
                    <td>Переработана конструкция</td>
                </tr>
                <tr>
                    <td>Кольцо водоперепускное</td>
                    <td><a href="/goodscat/24">ПД4.01.016</a></td>
                    <td>1-ПД4.01.016</td>
                    <td>н/д</td>
                    <td>н/д</td>
                    <td>н/д</td>
                    <td>ЧН31.8/33 1-ПД4Д</td>
                    <td>Оптимизирована смесь</td>
                </tr>
                <tr>
                    <td>Кольцо водоперепускное</td>
                    <td><a href="/goodscat/22">6Д49.36.15</a></td>
                    <td>1Д40.35.74</td>
                    <td>н/д</td>
                    <td>н/д</td>
                    <td>н/д</td>
                    <td>ЧН26/26</td>
                    <td>н/д</td>
                </tr>
                <tr>
                    <td>Кольцо водоперепускное</td>
                    <td><a href="/goodscat/26">0210-04-021</a></td>
                    <td>0210.04.021-1</td>
                    <td>н/д</td>
                    <td>н/д</td>
                    <td>н/д</td>
                    <td>ЧН21/21</td>
                    <td>н/д</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>Применяется в<br>
            <bold>6 ЧН21/21</bold> производства <bold>"ВОЛЖСКИЙ ДИЗЕЛЬ имени МАМИНЫХ"</bold>
            <br>
            ДД208, ДГР1А100/750, ДГР1А160/750, СА-20, СА-30, 222Д, 210Д, 211Д3М, 270Д, 281Д.
            <br>
            <bold>ЧН15/15 , ЧН15/18</bold> производства <bold>"БАРНАУЛТРАНСМАШ"</bold>
            <br>
            УТД-20, 1Д20 , 3Д20, Д6, 5Д20
            <br>
            <bold>ЧН 31.8/33</bold> производства <bold>"ПЕНЗАДИЗЕЛЬМАШ"</bold>
            <br>
            1-ПД4А, 1-ПД4Д, 5Д50
            <br>
            <bold>ЧН26/26</bold> производства <bold>"КОЛОМЕНСКИЙ ЗАВОД",</bold>
            <br>
            1А-9ДГ, 5-26ДГ, 18-9ДГ, 7-6Д49, АД2000
            <br>
            <bold>ЧН 21/21 | ДМ 21/21</bold> производства <bold>"УДМЗ"</bold>
            <br>
            6ДМ-21Л, 8ДМ21
            <br>
            <bold>6ЧРН36/45</bold> производства <bold>"РУМО"</bold>
            <br>
            Г-60, Г-70, Г-74
            <br>
            <bold>NVD</bold> производства <bold>"SKL MOTOR"</bold>
            <br>
            NVD48A-2 NVD-36
            <br>
            компрессорах производства <bold>"ПТМЗ"</bold>
            <br>
            КТ-6, КТ-7<br><br>
            Данные многоцелевые двигателя применяются в качестве силовых установок судов, локомотивов,
            дизель-генераторов,
            привода буровых агрегатов, гусеничной технике и военной технике.
            <br><br>
            Применение
            <a href="#">Руководства по эксплуатации и каталоги деталей дизельных двигателей</a>
        </p>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>

</script>


{% endblock scripts %}