{% extends "base.html" %}
{% load static %}

{% block title %}
Услуги нашей компании - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description"
    content="Механическая обработка, термическая обработка, разработка , инжиниринг, доработка и модернизация деталей и узлов." />
{% endblock %}

{% block links %}

{% endblock links %}

{% block content %}

<div class="container">
    <div class="breadcrumbs">
        <a href="/">Главная</a> / Услуги
    </div>
</div>
<div class="container">
    <h1>Услуги</h1><span class="line"></span>

    <div class="product-wrapper">

        <a href="/manufacturing" class="product-item">
            <div class="product-item-img">
                <img src="{% static 'img/services_1.png' %}" alt="" height="90%">
            </div>
            <div class="product-item-desc">
                Контактное производство деталей и компонентов.<br>
                Производство изделий на заказ по требованиям.
            </div>
            <div class="product-item-name">
                Контрактное производство
            </div>
        </a>
        <a href="/trade" class="product-item">
            <div class="product-item-img">
                <img src="{% static 'img/services_2.png' %}" alt="" height="80%">
            </div>
            <div class="product-item-desc">
                Поставка компонентов и деталей для судовых, локомотивных и промышленных двигателей и дизель-генераторов.
            </div>
            <div class="product-item-name">
                Поставка компонентов
            </div>
        </a>
        <a href="/development" class="product-item">
            <div class="product-item-img">
                <img src="{% static 'img/services_3.png' %}" alt="" height="90%">
            </div>
            <div class="product-item-desc">
                Разработка деталей.<br>
                Внедрение новых материалов и технологий.
            </div>
            <div class="product-item-name">
                Разработка
            </div>
        </a>
        <a href="/turning" class="product-item">
            <div class="product-item-img">
                <img src="{% static 'img/services_4.png' %}" alt="" height="90%">
            </div>
            <div class="product-item-desc">
                Услуги по обработке металла.<br>
                Точение, гальваника, термообработка.
            </div>
            <div class="product-item-name">
                Обработка металла
            </div>
        </a>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>

</script>


{% endblock scripts %}