{% extends "base.html" %}
{% load static %}

{% block title %}
Заказ отправлен - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description"
    content="" />
{% endblock %}

{% block links %}

{% endblock links %}

{% block content %}
<style>
    .thanks-wrapper {
        text-align: center;
    }
</style>
<div class="thanks-wrapper">
    <p style="font-size: 80px">Спасибо за заказ!</p>
    <p style="font-size: 30px">Мы с вами свяжемся в ближайшее время</p>
</div>





{% endblock content %}

{% block scripts %}



{% endblock scripts %}