{% extends "base.html" %}
{% load static %}

{% block title %}
Поставка деталей для двигателей - Альфа | Дзержинск
{% endblock %}

{% block metatags %}
<meta name="Description"
    content="Поставка запчастей для судовых и промышленных двигателей. Поставляем детали на двигателя: КАМАЗ-740,ДН 23/30, ЧН 30/38 , ЧН 26/26 Коломенский завод
    ЧН15/18 , ЧН 15/15 Барнаултрансмаш, Турбокомпрессора производства СКБТ и Пензенский дизельный завод и Коломенский завод, и другие" />
{% endblock %}

{% block links %}

{% endblock links %}

{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Главная</a> / <a href="/services">Услуги</a> / Поставка деталей для двигателей
    </div>
</div>
<div class="container">

    <div class="bearing-wrap">
        <div class="bearing-wrap-info">
            <h1>Поставка деталей для двигателей
            </h1><span class="line"></span>
            <br>
            <div class="bearing_img__aftertext">
                <img src="{% static 'img/trade.png' %}" alt="" class="bearing_img__aftertext__img">
            </div>
            <div class="bearing-wrap-text">
                Одно из направлений деятельности компании это поставка деталей и компонентов для двигателей
                отечественного и импортного производства .
                Поставляем детали на двигателя:
                <ul>
                    <li>CUMMINS ISBe , ISDe, 6BT , ISF
                    </li>
                    <li>КАМАЗ-740</li>
                    <li>6 и 8 ЧН 21 /21 "Волжский дизель имени Маминых"  и "УДМЗ"</li>
                    <li>6ЧН 31.8/32 "Пензенский дизельный завод"</li>
                    <li>6ЧН 36/45 "РУМО"</li>
                    <li>ЧН18/22 "Дальдизель"</li>
                    <li>ДН 23/30, ЧН 30/38 , ЧН 26/26 "Коломенский завод" </li>
                    <li>ЧН15/18 , ЧН 15/15 "Барнаултрансмаш"</li>
                    <li>Турбокомпрессора производства "СКБТ" и "Пензенский дизельный завод"  и "Коломенский завод"</li>
                </ul>
            </div>
        </div>
        <div class="bearing-wrap-img">
            <img src="{% static 'img/trade.png' %}" alt="" height="100%">
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>

</script>


{% endblock scripts %}